<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRLn2UPyRJtfyd3a1sAZ6qi6oj49QKwSg</string>
	<key>GCM_SENDER_ID</key>
	<string>33230503989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanhoon.ga4test</string>
	<key>PROJECT_ID</key>
	<string>ga4-test-42781</string>
	<key>STORAGE_BUCKET</key>
	<string>ga4-test-42781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33230503989:ios:05162f95c9ddcb83c3b17c</string>
</dict>
</plist>